{% extends 'main/header.html' %}

{% load static %}

<link rel="stylesheet" href="{% static 'spotify/style.css' %}">

{% block content %}

<head>
    <title>Albums</title>
</head>

<h1>{{ user.username }}'s Albums</h1>

<body>
<!--<a href={{ item.uri }}><button>{{ item.name }}</button></a>-->
<ul>
    {% if user_albums %}
    {% for item in user_albums %}
    <li>
        <form action="play_album" method="POST">
            {% csrf_token %}
            <button type="submit" name="album_id" value={{ item.id }}>
                {{ item.name }}
            </button>
        </form>        
    </li>
    {% endfor %}
</ul>

{% else %}
    <p>No albums are available.</p>
{% endif %}


</body>

{% endblock %}